<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/static/epmcontrol/epmcharts.js"></script>

<div style="width: 400px;"><h1>BICC Return data</h1></div>

<div style="width: 200px; float: left">
<h2>Q{{ q_data_quarter}}/{{ q_data_year }}</h2>

<p>Greens: {{ greens }}</p>
<p>Amber/Greens: {{ amber_greens }}</p>
<p>Ambers: {{ ambers }}</p>
<p>Amber/Reds: {{ amber_reds }}</p>
<p>Reds: {{ reds }}</p>
</div>

<p>{{ view_json|safe }}</p>

<script type="text/javascript">
    var viewJSON = {{ view_json|safe }};
    var viewLabels = {{ labels_json|safe }};
</script>

<svg width="100" height="100">
    <circle r="20" cy="50" cx="50" fill="orange"/>
    <line x1="0" y1="0" x2="30" y2="30" stroke="black"/>
</svg>

<script type="text/javascript">
    $(document).ready(singleColumnAggRagQuarter);
</script>

<div id="agg-rag-per-quarter" style="min-width: 310px; max-width: 350px; height: 400px; margin: 0 auto"></div>
