
<h1>{{ project_data.name }}</h1>

<h4>Portfolios</h4>

{% for p in project_data.portfolios.all %}
    <p>{{ p.name }}</p>
{% endfor %}

<h2>SRO details</h2>

<p>Name: {{ project_data.sro }}</p>
<p>SRO RAG Rating: {{ project_data.sro_rating }}</p>

<h3>BICC returns</h3>

<table>
    {% if bicc_returns %}
    <tr>
        <th>Return</td>
        <th>RAG Rating</td>
    </tr>
    {% for return in bicc_returns %}
    <tr>
        <td>Q{{ return.quarter.qref }}/{{ return.quarter.yearref }}</td>
        <td>{{ return.sro_confidence_rag.rag }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <p>No BICC returns yet</p>
    {% endif %}
</table>



