<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/static/epmcontrol/epmcharts.js"></script>

<div style="width: 400px;"><h1>Single Graph Test Page</h1></div>


<script type="text/javascript">
    var viewJSON = {{ view_json|safe }};
</script>

<script type="text/javascript">
    $(document).ready(aggregateRAGChartMulti);
</script>
<div id="agg_rag_multi" style="min-width: 310px; max-width: 600px; height: 500px; margin: 0 auto"></div>
